<div>
  <div *ngIf="!edit" class="flex row session-select">
    <select #sessionSelection
      [value]="currentSession$ | async"
      (change)="switchSession(sessionSelection.value)">
      <option
        *ngFor="let session of sessionList$ | async"
        [value]="session">
        {{session}}
      </option>
    </select>
    <i class="material-icons" (click)="editSessionName()">edit</i>
  </div>

  <div *ngIf="edit">
    <form [formGroup]="renameSessionForm" (ngSubmit)="saveSessionName()">
      <input formControlName="sessionName">
    </form>
  </div>

  <div>
    <span (click)="newSession()">+</span>
  </div>
</div>
