@import url(//fonts.googleapis.com/icon?family=Material+Icons);
/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  text-align: center;
}

.grow {
  flex-grow: 1;
}
